<p>login-page works!</p>
<div class="login-component">
    <div class="header-flex">
        <img class='tyms-logo' src='assets/tymsLogo.svg' />
        <span>
            <a href="" class="header-link">Play Demo Video</a>
        </span>
    </div>
    <h1 class="login-text">Login</h1>
    <div class="form-input-div">
        <div class="form-input-heading">
            <p class="form-label">Email address</p>
            <p>Login with phone</p>
        </div>
        <div class="input-text-card">
            <input type="text" pInputText class="custom-input" [(ngModel)]="emailValue" placeholder="Enter your email" />
        </div>
    </div>
    <div class="form-input-div">
        <div class="form-input-heading">
            <p class="form-label">Password</p>
            <p>Forgot Password</p>
        </div>
        <div class="input-text-card">
            <p-password class="password-input" styleClass="password-input" [(ngModel)]="passwordValue" [feedback]="false" [toggleMask]="true" placeholder="Enter your password"></p-password>
        </div>
    </div>
    <div class="btn-container">
        <button class="submit-btn" pButton label="Login" styleClass="p-button-rounded p-button-sm p-button-help"></button>
    </div>
    <div class="login-final-text">
        <p>Don't have an account? <span>Register now!</span></p>
    </div>
</div>
